.Archive-Toggle {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;
}

.Archive-Toggle-Container {
	color: var(--Text-Archive-Toggle);
	margin-bottom: 0.25rem;
	margin-right: 0.5rem;
}