@use '../../../SASS/Variables' as *;

.Page-Navigation-Item {
	background-color: var(--Background-Page-Navigation-Item);
	border: 1px solid var(--Border-Page-Navigation-Item);
	border-radius: 0.75rem;
	box-shadow:
		0 4px 6px -1px rgb(0, 0, 0, 0.1),
		0 2px 4px -2px rgb(0, 0, 0, 0.1);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	height: 100%;
	max-height: 280px;
	min-height: 180px;
	padding: 1rem;
	transition: all 500ms ease-in-out;

	&:Hover {
		border: 1px solid var(--Border-Page-Navigation-Item-Hover);
	}

	@media (min-width: $Screen-Medium) {
		&:Hover {
			background-color: var(--Background-Page-Navigation-Item-Desktop);
			box-shadow:
				0 10px 15px -3px rgb(0, 0, 0, 0.1),
				0 4px 6px -4px rgb(0, 0, 0, 0.1);
			transform: scale(1.05);
		}
	}
}

.Page-Navigation-Item-Label {
	color: var(--Text-Page-Navigation-Item-Label);
	font-size: 1.875rem;
	font-weight: 700;
	line-height: 2.25rem;
	margin-bottom: 1rem;
}

.Page-Navigation-Item-Description {
	color: var(--Text-Page-Navigation-Item-Description);
}