@font-face {
	font-display: swap;
	font-family: 'General-Sans';
	font-stretch: 75% 100%;
	font-style: oblique 0deg 20deg;;
	font-weight: 1 999;
	src: url('/Source/Client/Assets/Fonts/General-Sans/Variables.ttf') format(truetype);
}